.bg-faint-blue {
  background: #eaf2f7;
}

.bg-eggshell {
  background: rgb(245 243 238 / 100%)
}

.bg-eggshell-80 {
  background: rgb(245 243 238 / 80%)
}

.bg-eggshell-60 {
  background: rgb(245 243 238 / 60%)
}

.bg-eggshell-40 {
  background: rgb(245 243 238 / 40%)
}

.bg-eggshell-20 {
  background: rgb(245 243 238 / 20%)
}

.dark-brown-text {
  color: #706355 !important;
}

.dark-blue-text {
  color: #2e698f !important;
}

.nav-style {
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  background: linear-gradient(to bottom, rgb(255 255 255 / 50%), rgb(246 243 240 / 100%));
}

.tab-active {  
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgb(0 0 0 / 10%);  
  background: linear-gradient(to bottom, #f0f6f9, #eaf2f7);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}